/* ----------------------------------------------------- */
/* RESET */
/* ----------------------------------------------------- */

@import 'variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------- */
/* FONTS */
/* ----------------------------------------------------- */

/* title font - xxix */
@font-face {
    font-family: 'xxix';
    src: url('../fonts/xxix/xxix.woff2') format('woff2'), url('../fonts/xxix/xxix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body font - signika */
@font-face {
    font-family: 'signika';
    src: url('../fonts/signika/signika-regular.woff2') format('woff2'),
        url('../fonts/signika/signika-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* heading font - aller */
@font-face {
    font-family: 'aller';
    src: url('../fonts/aller/aller-bd.woff2') format('woff2'), url('../fonts/aller/aller-bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
/* UTITLITIES */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* RULES */
/* ----------------------------------------------------- */

body {
    background-color: var(--body-color);
    font-family: var(--body-font);
}

/* links */
a {
    color: var(--link-color);
    text-decoration: none;
}

/* border elements */
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(168, 168, 168, 0.75), rgba(0, 0, 0, 0));
}

/* title */
<<<<<<< HEAD
span {
    display: inline-block;
=======
nav span.display {
>>>>>>> d5734149ec370e7d33f6b206c076173b07fd3c4a
    font-family: var(--title-font);
    font-size: 16px;
    
}

@media only screen and (min-width: 768px) {
<<<<<<< HEAD
    span {
=======
    nav span.display {
>>>>>>> d5734149ec370e7d33f6b206c076173b07fd3c4a
        font-size: 20px;
    }
}

/* each letter in the title "COLOR" */
.c {
    color: var(--teal);
}

.o {
    color: var(--blue);
}

.l {
    color: var(--green);
}

.oo {
    color: var(--yellow);
}

.r {
    color: var(--monored);
}

span {
    letter-spacing: -1px;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
}

/*headings */
h2 {
    font-family: var(--heading-font);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/* description under heading */
h3 {
    font-family: var(--body-font);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

p {
    font-family: var(--body-font);
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* hr element - border under welcome desc */
#pgdivide {
    border-top: 2px solid #e0e0e0;
    margin-top: 30px;
}


h3.author {
    text-align: left;
    margin: 0;
    padding: 0;
    padding-top: 10px;
}

/* logo style in nav */
.logo img {
    width: 35px;
    height: 35px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

/* section spacing */
.section {
    margin: 15px;
}

/* tools section */
.tools {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    background-color: var(--white);
    width: 100%;
    height: 23vh;
    bottom: 0;
    position: fixed;
    -webkit-box-shadow: 0px -4px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -4px 8px -5px rgba(0,0,0,0.75);
    box-shadow: 0px -4px 8px -5px rgba(0,0,0,0.75);
    overflow: scroll;
}

/* center tools */
.centericons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/* centers color selector */
.centericons2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

/* icons in tools bar */
#icons {
    background-image: linear-gradient(180deg, var(--border-green) 0%, var(--border-blue) 37%, var(--border-red) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
}

/* colors in tools bar */
#redc {
    background-color: var(--border-red);
}

#orangec {
    background-color: var(--border-orange);
}

#yellowc {
    background-color: var(--border-yellow);
}

#greenc {
    background-color: var(--border-green);
}

#bluec {
    background-color: var(--border-blue);
}
#purplec {
    background-color: var(--border-purple);
}
#pinkc {
    background-color: var(--border-pink);
}

/* rainbow wheel */
#rainbowwheel {
    background-image: linear-gradient(319deg, var(--border-green) 15%, var(--border-blue) 30%, var(--border-red) 100%);    
}


/* colors in tools section */
.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1.5px solid black;
}

/* container for welcome section */
.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

#welcomeicon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

/* center coloring pages into column */
.coloringpages {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* container for page */
.coloringpages2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 290px;
}

/* coloringpage - flex columns */
.item2 {
    width: 100%;
    height: 100%; 
}

/* coloring pages in full view w/o border */
#wothumbnails {
    width: 100%;
    height: 100%;
}

/* responsive for coloring page */
@media only screen and (min-width: 768px) {
    /* coloringpage section */
    .coloringpages2 {
        height: 740px
    }
}
@media only screen and (min-width: 1024px) {
    .coloringpages2 {
        height: 600px;
  }
}

/* enlarge font awesome icons for tools */
.enlargeicons {
    display: none;
}

/* responsive for coloring page */
@media only screen and (min-width: 768px) {
    /* tools section */
    .tools {
        height: 20vh;
    }
    .enlargeicons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        display: show;
    }
    .centericons {
        display: none;
    }
    .circle {
        height: 65px;
        width: 65px;
        border-radius: 50%;
        border: 2.5px solid black;
    }
    #icons {
        margin: 20px;
    }
}
/* responsive for coloring page */
@media only screen and (min-width: 1024px) {
    /* tools section */
    .tools {
        height: 30vh;
        width: auto;
        margin-left: auto;
    }
}

/* homepage - flex columns */
.item {
    width: 80%;
    height: 80%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* split rows in columns for tablet + desktop */
@media only screen and (min-width: 768px) {
    .coloringpages {
        flex-direction: row;
    }

    .item {
        width: 35%;
        height: 35%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {
    .coloringpages {
        flex-direction: row;
    }

    .item {
        width: 25%;
        height: 25%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* thumbnails of coloring pages on homepage */
#thumbnails {
    border: 4px solid transparent;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0 8px 6px -6px black;
<<<<<<< HEAD
	-moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
=======
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.thumbnails:hover,
.thumbnails:focus {
    border-image: linear-gradient(
        to bottom right,
        var(--border-blue) 0%,
        var(--border-green) 25%,
        var(--border-yellow) 50%,
        var(--border-orange) 75%,
        var(--border-red) 100%
    );
    border-image-slice: 1;
>>>>>>> d5734149ec370e7d33f6b206c076173b07fd3c4a
}

/* side navigation */

.navigation {
    background-color: var(--white);
    border-bottom: solid var(--border-color) 2px;
}

nav {
    padding: 0 1rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

main {
    margin: 0 auto;
    max-width: 52rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* side nav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: var(--link-color);
    display: block;
    transition: 0.1s;
}

.sidenav a:hover {
    color: var(--link-hover);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* footer */
.footer {
    display: block;
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 0;
}

.footer p {
    padding: 2rem;
}


