/* ----------------------------------------------------- */
/* RESET */
/* ----------------------------------------------------- */

@import 'variables.css';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background:
	linear-gradient(
		var(--blue),
		transparent
	),
	linear-gradient(
		-90deg,
		var(--yellow),
		transparent
	),
	linear-gradient(
		90deg,
		var(--monored),
		transparent
    );
    
    background-blend-mode: screen;
}

/* ----------------------------------------------------- */
/* FONTS */
/* ----------------------------------------------------- */

/* title font - xxix */
@font-face {
    font-family: 'xxix';
    src: url('../fonts/xxix/xxix.woff2') format('woff2'), url('../fonts/xxix/xxix.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* body font - signika */
@font-face {
    font-family: 'signika';
    src: url('../fonts/signika/signika-regular.woff2') format('woff2'),
        url('../fonts/signika/signika-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* heading font - aller */
@font-face {
    font-family: 'aller';
    src: url('../fonts/aller/aller-bd.woff2') format('woff2'), url('../fonts/aller/aller-bd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------- */
/* UTITLITIES */
/* ----------------------------------------------------- */

/* ----------------------------------------------------- */
/* RULES */
/* ----------------------------------------------------- */

body {
    font-size: 100%;
    font-family: var(--body-font);
}

nav span.display {
    font-family: var(--title-font);
    font-size: 1rem;
}

@media only screen and (min-width: 768px) {
    nav span.display {
        font-size: 1.25rem;
    }
}

h2 {
    font-family: var(--heading-font);
    text-align: center;
}

.container h2 {
    padding: 40px;
    font-size: 2rem;
}

/* each letter in the title "COLOR" */
.c {
    color: var(--teal);
    letter-spacing: -2px;
}

.o {
    color: var(--blue);
    letter-spacing: -2px;
}

.l {
    color: var(--green);
    letter-spacing: -2px;
}

.oo {
    color: var(--yellow);
    letter-spacing: -2px;
}

.r {
    color: var(--monored);
    letter-spacing: -2px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(168, 168, 168, 0.75), rgba(0, 0, 0, 0));
}

/* icon */
.icon {
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .icon {
        width: 170px;
        height: 170px;
    }
}

/* drop shadow on icon */
#boxs {
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
    border-radius:100px;
}

/* images on help page */
img#helppics {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
}

h3 {
    font-family: var(--body-font);
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}


h3.steps {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: var(--body-font);
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

/* section for coloring page */
.coloring-page {
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.coloring-page #canvas {
    height: calc(100vh - 265px);
    width: inherit;
}

.coloring-page #canvas object {
    height: inherit;
    margin: 0 auto;
    width: inherit;
}

h3.cpauthor {
    background-color: none;
    color: black;
    text-align: left;
    margin: 10px;
    padding: 0;
    padding-top: 10px;
}

/* drawer section under coloring page */
.drawer {
    background-color: var(--white);
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(228, 228, 228));
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 5px 2px hsla(235, 55%, 5%, .2),
    3px 2px 3px 1px hsla(235, 55%, 5%, .4);
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    width: 100%;
}

/* top row / tools */
.row.tools {
    margin-bottom: 1rem;
    justify-content: center;
}

.row.tools li {
    padding: 0 5px 0 5px;
}

/* bottom row / swatches */
.row.color-picker {
    justify-content: center;
}

.row.color-picker li {
    padding: 0 5px 0 5px;
}

/* icons in drawer bar */
.tools .fa {
    color: transparent;
    background-image: linear-gradient(180deg, var(--border-green) 0%, var(--border-blue) 37%, var(--border-red) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* needed to clip gradient to icons */
    padding: 10px;
}

button#colorwheel {
    background-image: linear-gradient(180deg, var(--border-green) 0%, var(--border-blue) 37%, var(--border-red) 100%);
    -webkit-text-fill-color: #ececec; 
    padding: 10px;
}

/* colors in tools section */
.row button {
    border-radius: 50%;
    border: 1.5px solid black;
    cursor: pointer;
    font-size: 1.25rem;
    height: 2.9rem;
    opacity: 1;
    width: 2.9rem;
}

.row .swatch button {
    border-radius: 50%;
}


.row button:hover,
.row button:focus {
    border: 3px solid #444444;
    outline: none;
}

.row button:active {
    border: 2px solid var(--link-color);
    opacity: 0.8;
}

/* colors in tools bar */
#redc {
    background-color: var(--border-red);
}

#orangec {
    background-color: var(--border-orange);
}

#yellowc {
    background-color: var(--border-yellow);
}

#greenc {
    background-color: var(--border-green);
}

#bluec {
    background-color: var(--border-blue);
}

#welcomeicon {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 175px;
    height: 175px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

/* center coloring pages into column */
#gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* flex columns */
.item {
    width: 80%;
    height: 80%;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* split rows in columns for tablet + desktop */
@media only screen and (min-width: 320px) {
    #gallery {
        flex-direction: row;
    }

    .item {
        width: 45%;
        height: 45%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1024px) {
    #gallery {
        flex-direction: row;
    }

    .item {
        width: 25%;
        height: 25%;
        margin: 20px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* thumbnail container / rainbow border */
.thumbnails {
    border: 4px solid transparent;
    width: 100%;
    height: auto;
    border-image: linear-gradient(to bottom right,
            var(--border-blue) 0%,
            var(--border-green) 25%,
            var(--border-yellow) 50%,
            var(--border-orange) 75%,
            var(--border-red) 100%);
    border-image-slice: 1;
}

/* container for author names */
.attribution {
    background-color: rgb(255, 255, 255, 0.8);
    padding: 5px;
}

/* author text */
.attribution h3 {
    text-align: left;
    padding: 0;
    color: black;
}

/* side navigation */

.navigation {
    background-color: var(--white);
    border-bottom: solid var(--border-color) 2px;
    box-shadow: 0 8px 6px -8px black;
}

nav {
    padding: 0 1rem;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

/* side nav links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.125rem;
    color: var(--link-color);
    display: block;
    transition: 0.1s;
}

.sidenav a:hover {
    color: var(--link-hover);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 1.125rem;
    }
}

/* Case Study + Help */

/* container for case study */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
}

/* case study paragraph */
#studytxt {
    line-height: 25px;
    padding: 10px;
}

/* images on case study */
img#cspics {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* container for styletile images */
.casestudyimgs {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

@media only screen and (min-width: 320px) {
    img#helppics {
        width: 90%;
    }
    img#cspics {
        width: 90%;
    }
    .casestudyimgs {
        flex-direction: column;
        width: 100%;
    }
    .container {
        width: 95%;
    }
}

@media only screen and (min-width: 768px) {
    img#helppics {
        width: 50%;
    }
    img#cspics {
        width: 50%;
    }
    .casestudyimgs {
        flex-direction: column;
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    img#helppics {
        width: 50%;
    }
    img#cspics {
        width: 30%;
    }
    .casestudyimgs {
        flex-direction: row;
    }
    .container {
        width: 50%;
    }
}

/* container for faq section */
.container {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
}

/* section spacing */
.section {
    margin: 15px;
}

main h1 {
    text-align: center;
    padding: 30px;
}

ul.cardsort {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 768px) {
    ul.cardsort {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
     }
}

section {
    padding-top: 50px;
    padding-bottom: 30px;
}

.card-image > img {
	display: block;
	width: 100%;
}

.card {
    background-color: var(--white);
	background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(238, 238, 238));
	display: inline-block;
	width: 100%;
    max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    color: #515151;
    text-decoration: none;
    padding: 1em;
}

.card-description p {
    padding: 0.15em;
}