:root {
    /* COLORS */
    --bg-color: #ffffff; /* white */
    --body-color: #ececec; /* greyish-white */
    --link-color: #0487D9; /* solid blue */
    --link-hover: #000000; /* black */
    --button-color: #35F252; /* solid green */
    --button-text: #000000; /* black */
    --button-text2: #ffffff; /* white */
    /* FONTS */
    --title-font: 'xxix';
    --body-font: 'signika', sans-serif;
    --heading-font: 'aller', sans-serif;
  }